@import "../base.css";
@import "../components/header.css";
@import "../components/footer.css";

.main {
  margin-block: 12rem;
}

.main__inner {
  display: flex;
  justify-content: space-between;
}

.intro__img {
  width: 44.996rem;
  height: 44.996rem;
  border-radius: 50%;
  box-shadow: 0 0 0 5rem rgba(208, 204, 199, 0.2), 0 0 0 10rem rgba(208, 204, 199, 0.1);
}

.intro__img img {
  width: 100%;
  height: 100%;
}

.main__content {
  transform: translateY(-8.5rem);
  margin: 0 auto;
}

.intro__title {
  font-family: "Poppins-Bold";
  font-size: 5rem;
  margin-bottom: 2.5rem;
}

.form__title {
  color: #311f09;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  gap: 4rem;
}

input {
  display: inline-block;
  border: none;
  background-color: rgba(208, 204, 199, 0.1);
  color: #a0978c;
  padding: 2.4rem 4.5rem;
  width: 40rem;
  font-size: 1.6rem;
  font-family: "Poppins-Regular";
  border-radius: 2rem;
}

input[type="submit"] {
  background-color: #ff8a00;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
}
